<nav>
  <div class="navBar">
    <div class="homeLink">
      <a href="#/">Ebay Shop</a>
    </div>
    <div class="center">
      <h1>Ebay v.2</h1>
      <div class="searchBar">
        <input type="text" ng-model = 'inputBox' class ='searchEbay' placeholder="search">
        <button ng-click='searchArtifact(inputBox)' class='searchButton'>Search By Keyword</button>
      </div>
    </div>
    <div class="navItems">
      <a href="#/store">Store</a>
      <a href="#/cart">Cart</a>
    </div>
  </div>

</nav>
